
// Main Brand Colors
// $brand-color1: #d59e40;
$brand-color1: #b98225;
$brand-color2: #efd7a7;

// Headings
$heading-color: #333;
$paragraph-color: #333;

// Backgrounds
$bg1: #f1f1f1;

// Borders
$border1: #e3e3e3;
