/* Media Queries: Start */

@mixin sm-min {
  @media only screen and (min-width:#{$sm}) {
    @content;
  }
}

@mixin md-min {
  @media only screen and (min-width:#{$md}) {
    @content;
  }
}

@mixin lg-min {
  @media only screen and (min-width:#{$lg}) {
    @content;
  }
}

@mixin xl-min {
  @media only screen and (min-width:#{$xl}) {
    @content;
  }
}

@mixin xxl-min {
  @media only screen and (min-width:#{$xxl}) {
    @content;
  }
}

/* Media Queries: End */

@import "1.resets";
@import "2.variables";
@import "3.containers";
@import "4.types";
@import "5.buttons";
@import "6.utilities";
@import "7.forms";

/* Breadcrumbs: start */
.breadcrumbs-container {
  position: absolute;
  bottom: 0;
  width: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 6;
}

.breadcrumbs {
  margin-bottom: 2rem;
}

.breadcrumbs__ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.breadcrumbs__li {
  font-weight: 500;
  color: wheat;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  font-size: .8rem;
}

.breadcrumbs__li a {
  font-weight: 500;
  font-size: .8rem;
}

.breadcrumbs__li:last-child:before {
  display: none;
}

.breadcrumbs__li:before {
  content: '';
  background-image: url(../images/breadcrumb-arrow.svg);
  width: 6px;
  height: 10px;
  right: -15px;
  top: 1px;
  background-repeat: no-repeat;
  bottom: 0;
  margin: auto;
  position: absolute;
  background-size: contain;
  display: block;
}

.breadcrumbs__a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

@media only screen and (min-width:1200px) {
  .breadcrumbs-container {
    width: 65rem;
  }
}

/* Breadcrumbs: End */

/* Site Header: Start */
.site-header {
  height: 5rem;
  position: absolute;
  z-index: 11;
  width: 100%;
  top: 0;

  &__container {
    height: 100%;
    margin: 1rem;
  }

  &__logo {
    display: inline-flex;
    height: 4rem;
    align-items: center;
    padding-right: 1rem;
  }

  &__logo-link {}

  &__logo-img {
    width: 9rem;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
  }
}

.contact-numbers {
  position: absolute;
  left: 1rem;
  right: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: #fff;
  bottom: -3.35rem;
  z-index: 1;
  border-radius: .5rem;
  line-height: 2.5rem;

  &__item {
    display: flex;
    gap: 0.5rem;
    color: #555;
    text-decoration: none;
    font-size: .95rem;
    align-items: center;
    font-weight: 500;
  }

  &__icon {
    height: auto;
  }
}


@media (min-width: 992px) {
  .site-header {
    // height: auto;  
    // margin: 1rem auto 0 auto;
    left: 0;
    right: 0;

    &__container {
      display: flex;
      margin: 2rem 1rem 0 1rem;
    }

    &__logo {
      padding-left: 0;
      padding-right: 0;
      margin-right: 4rem;
    }

    &__logo-img {
      width: 12rem;
    }
  }

  .contact-numbers__item:nth-of-type(1) img {
    width: .9rem;
    height: .8rem;
    position: relative;
  }

  .contact-numbers {
    position: initial;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0;
    flex-grow: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 3.5rem;
  }
}

@media only screen and (min-width:1200px) {
  .site-header__container {
    width: 65rem;
    margin: 2rem auto 0 auto;
  }
}




.blog-header {
  position: absolute;
  height: 12rem;
  z-index: 1;

  &__banner {
    position: absolute;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__container {
    margin-top: 0;
    padding-top: 1rem;
  }

  &__contact-numbers {
    bottom: 1.65rem;
  }

  position: relative;

  &::after {
    content: " ";
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    opacity: .55;
  }
}


.entry-content {
  p {
    font-size: .90rem;
  }
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
  .blog-header {
    height: 8rem;

    &__container {
      padding-top: 2rem;
    }
  }
}

@media only screen and (min-width: 1200px) {}


/* Blog List Container: Start */
.blog-list-container {
  margin-top: 3rem;
  margin-bottom: 4rem;

  &__heading {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
  }

  .entry-title {
    margin-bottom: .5rem;

    a {
      color: #6e5641;
      text-decoration: none;
      font-size: 1.25rem;
      font-family: 'poppins';
      font-weight: 600;
    }
  }

  .entry-content {
    .screen-reader-text {
      display: none;
    }
  }

  .post {
    margin-bottom: 1.65rem;
    border: 1px solid #e5d2a2;
    padding: 1rem;
    border-radius: .5rem;
    background: #f9f9f9;
  }

  .more-link {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: darkgoldenrod;
  }

  .posted-on {
    font-size: .9rem;
  }

  .post-taxonomies {
    font-size: .9rem;

    a {
      color: darkgoldenrod;
    }
  }

  .navigation.pagination {
    h2 {
      font-family: 'poppins';
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 3rem;
    }

    .nav-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 0.65rem;

      .page-numbers {
        color: brown;
        text-decoration: none;
        border: 1px solid brown;
        padding: 0.35rem 0.65rem;
        font-size: .8rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        line-height: 1.5;
      }

      .nav-next-text {
        color: brown;
      }

      .next.page-numbers,
      .prev.page-numbers {
        border: 0;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .blog-list-container {
    .post {
      padding: 3rem 2.75rem;
    }
  }
}

/* Blog List Container: End */


/* Blog Detail Page: Start */
.blog-detail-page {
  &__banner {
    height: 10rem;
    position: relative;
    margin-bottom: 3rem;

    &::after {
      content: " ";
      background-color: #000;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      top: 0;
      bottom: 0;
      opacity: .55;
    }
  }

  &__banner-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__container {
    margin-bottom: 2rem;

    .entry-content {
      ul {
        padding-left: 1rem;
      }
    }

    .entry-title {
      font-size: 1.5rem;
      font-family: 'poppins';
      font-weight: 600;
      color: #6e5641;
    }

    h2 {
      font-size: 1.25rem;
      font-family: 'poppins';
      color: #6e5641;
      font-weight: 600;
    }

    h3 {
      font-family: 'poppins';
      color: #6e5641;
    }

    h4 {
      font-family: 'poppins';
      color: #6e5641;
    }

  }

  .posted-on {
    font-size: .9rem;
  }

  .byline {
    a {
      color: goldenrod;
    }
  }

  .cat-links {
    font-size: .9rem;

    a {
      color: goldenrod;
    }
  }
}

.blog-detail-page__breadcrumbs-container {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2rem;
}

.blog-detail-page__breadcrumbs-container .breadcrumbs__ul {
  flex-wrap: wrap;
  line-height: 1.5;
}

.blog-detail-page__breadcrumbs-container .breadcrumbs__li {
  color: #555;
  font-size: .9rem;
}

.blog-detail-page__breadcrumbs-container .breadcrumbs__li:before {
  background-image: url(../images/breadcrumb-arrow-black.svg);
}

.blog-detail-page__breadcrumbs-container .breadcrumbs__li a {
  color: goldenrod;
  font-size: .9rem;
}


.navigation.post-navigation {
  padding-left: 1rem;
  padding-right: 1rem;

  h2 {
    font-size: 1.25rem;
    font-family: 'poppins';
    font-weight: 600;
    color: #6e5641;
  }

  .meta-nav {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .nav-links {
    a {
      text-decoration: none;
    }

    .post-title {
      border: 1px solid #dfb372;
      padding: 0.75rem;
      background: #f7f7f6;
      border-radius: .35rem;
    }
  }
}

.nav-links .nav-next .meta-nav {
  justify-content: flex-end;
}

.comment-reply-title {
  font-size: 1.15rem;
  font-family: 'poppins';
  font-weight: 600;
  color: #6e5641;
}

.comments-area {
  .comment-form-comment {
    label {
      display: block;
      font-size: .9rem;
    }

    textarea {
      width: 100%;
    }
  }

  .comment-form {

    input[type="text"],
    input[type="email"],
    input[type="url"] {
      width: 100%;
      height: 2.5rem;
      padding: 0.75rem;
      border: 1px solid #e7d4bd;
      border-radius: .35rem;
    }
  }

  .comment-form {
    background: #f7f3ea;
    padding: 1rem;
    border-radius: .5rem;

    textarea {
      padding: 0.75rem;
      border: 1px solid #e7d4bd;
      border-radius: .5rem;
    }
  }

  .form-submit {
    input {
      background: $brand-color1;
      color: #fff;
      padding: .5rem;
      border: 0;
    }
  }
}

.comment-form-cookies-consent {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem !important;
}

.comments-area .comment-notes {
  margin-bottom: 1rem !important;
}




@media only screen and (min-width: 576px) {
  .blog-detail-page {
    &__banner {}

    &__banner-image {}

    &__container {}
  }

  .navigation.post-navigation {}
}

@media only screen and (min-width: 768px) {
  .blog-detail-page {
    &__banner {}

    &__banner-image {}

    &__container {}
  }

  .navigation.post-navigation {}
}

@media only screen and (min-width: 992px) {
  .blog-detail-page {
    &__banner {
      height: 8rem;
    }

    &__banner-image {}

    &__container {}

    .entry-title {
      font-size: 1.8rem;
    }
  }

  .navigation.post-navigation {
    width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 4rem;
    margin-bottom: 4rem;

    .nav-links {
      display: flex;
      justify-content: space-between;
    }
  }

  .comments-area .comment-form {
    padding: 2rem;

    &>p {
      margin-bottom: 0.25rem;
    }
  }

  .blog-detail-page__breadcrumbs-container {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .blog-detail-page {
    &__banner {}

    &__banner-image {}

    &__container {}
  }

  .navigation.post-navigation {}
}





/* Blog Detail Page: End */










/* Site Header: End */

/* Site Logo: Start */
.site-header-logo {
  &__link {
    display: inline-block;
  }
}

/* Site Logo: End */









/* Main Nav: Start */
/* Navigation Trigger: Start */
.main-nav__trigger {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: -3.5rem;
  right: 0;
}

.main-nav__trigger.main-nav__trigger--active .main-nav__trigger-item,
.main-nav__trigger.main-nav__trigger--active .main-nav__trigger-item::before,
.main-nav__trigger.main-nav__trigger--active .main-nav__trigger-item::after {
  background-color: #fff;
}

.main-nav__trigger-box {
  width: 45px;
  height: 40px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.main-nav__trigger-item {
  display: block;
  top: 45%;
}

.main-nav__trigger-item,
.main-nav__trigger-item::before,
.main-nav__trigger-item::after {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  z-index: 0;
}

.main-nav__trigger-item::before,
.main-nav__trigger-item::after {
  content: "";
  display: block;
}

.main-nav__trigger-item::before {
  top: -10px;
}

.main-nav__trigger-item::after {
  bottom: -10px;
}

.main-nav__trigger .main-nav__trigger-item::before {
  transition: all 0.35s ease-out 0s;
}

.main-nav__trigger .main-nav__trigger-item::after {
  top: 10px;
}

.main-nav__trigger.main-nav__trigger--active .main-nav__trigger-item {
  transform: translate3d(0px, 0px, 0px) rotate(-45deg);
}

.main-nav__trigger.main-nav__trigger--active .main-nav__trigger-item::before {
  transform: rotate(45deg) translate3d(3.71429px, 0px, 0);
  opacity: 0;
}

.main-nav__trigger.main-nav__trigger--active .main-nav__trigger-item::after {
  transform: translate3d(0px, -10px, 0) rotate(90deg);
}

/* Navigation Trigger: End */

/* Main Nav Content: Start */
.main-nav {
  position: relative;
  /* border: 2px solid green; */
  z-index: 2;
}

.main-nav__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.35s ease;
}

.main-nav__content {
  display: none;
  position: relative;
  // top: 3rem;
}

.main-nav__item {
  border-left: none;
  border-right: none;
  border-bottom: none;

  a {
    padding-left: .75rem;
    padding-right: .75rem;
    transition: all 0.35s ease;
    background: #F8F2EA;
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    position: relative;
    color: #666;
    text-decoration: none;
    font-weight: 400;
    height: 3.5rem;
    align-items: center;

    &:hover {
      //  background: #f0f0f0;
    }
  }

  &:first-child {
    a {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }

  &:last-child {
    a {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}

.main-nav__item--active {
  a {
    background: $brand-color2;
    color: #664916;
  }
}

.main-nav__ul>.main-nav__item:last-child {}

.main-nav__content .main-nav__submenu-content .main-nav__item .main-nav__link {
  padding-left: 1.25rem;
  background: #fff;
}

.main-nav__submenu-content {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width:992px) {
  .main-nav {
    flex-basis: auto;
    height: 100%;
  }

  .main-nav__content {
    height: auto;
    align-items: stretch;
    flex-direction: row;
    display: flex !important;
  }

  .main-nav__content>.main-nav__ul {
    display: flex;
  }

  .main-nav__item {
    display: flex;
    align-items: stretch;
    column-gap: 1rem;
    position: initial;
    border-top: none;
  }

  .main-nav__ul>.main-nav__item:last-child {
    border-bottom: 0;
  }

  .main-nav__content .main-nav__item {
    &:first-child {
      a {
        border-top-right-radius: 0;
        border-bottom-left-radius: .5rem;
      }
    }

    &:last-child {
      a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    a {
      column-gap: 1rem;
      justify-content: space-between;
      display: flex;
      align-items: center;
      padding-left: 1.35rem;
      padding-right: 1.35rem;
      flex-grow: 1;
      font-size: .9rem;
    }
  }

  .main-nav__item:first-child .main-nav__link {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }

  .main-nav__item:last-child .main-nav__link {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .main-nav__submenu-content .main-nav__link {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .75rem;
  }

  .main-nav__submenu-content .main-nav__item {
    display: flex;
    position: relative;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  .main-nav__submenu-content .main-nav__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  .main-nav__submenu-content {
    margin-left: -1px;
    display: initial !important;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.35s ease;
    top: 100%;
  }

  .main-nav__item:hover>.main-nav__submenu-content {
    opacity: 1;
    visibility: visible;
    position: absolute;
    transition: all 0.75s ease;
    display: initial;
  }

  .main-nav__submenu-content .main-nav__submenu-content {
    left: 100%;
    top: 0;
    width: 100%;
    margin-left: 0;
    margin-top: -1px;
  }

  /* Offset Screen Menu */
  .main-nav__ul>.main-nav__item .main-nav__submenu-content.offscreen {
    right: 100%;
    left: initial;
  }

  .main-nav__ul>.main-nav__item>.main-nav__submenu-content.offscreen {
    right: 0;
    left: initial;
  }
}

@media only screen and (min-width:1200px) {
  .main-nav__content {
    .main-nav__link {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

/* Main Nav Content: End */


/* down-arrow-icon: start */
.down-arrow-icon {
  height: auto;
  pointer-events: none;
  position: relative;
}

.down-arrow-icon:after {
  content: "";
  background-color: transparent;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  top: -4px;
}

/* down-arrow-icon: end */
/* Main Nav: End */


/* Hero Slider: Start */
@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

.splide__container {
  position: relative;
  box-sizing: border-box;
}

.splide__list {
  margin: 0 !important;
  padding: 0 !important;
  width: -webkit-max-content;
  width: max-content;
  will-change: transform;
}

.splide {
  &::after {
    content: " ";
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    bottom: 0;
    opacity: .55;
  }

  &.is-active .splide__list {
    display: flex;
  }

  visibility: hidden;
  position: relative;
  outline: none;
}

.splide__slide {
  position: relative;
  outline: none;
  box-sizing: border-box;
  list-style-type: none !important;
  margin: 0;
  flex-shrink: 0;

  img {
    vertical-align: bottom;
    width: 100%;
    object-fit: cover;
  }
}

.splide__slider {
  position: relative;
}

.splide__spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  border-left-color: transparent;
  animation: splide-loading 1s linear infinite;
}

.splide__track {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.splide--draggable>.splide__track>.splide__list>.splide__slide {
  -webkit-user-select: none;
  user-select: none;
}

.splide--fade>.splide__track>.splide__list {
  display: block;

  >.splide__slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;

    &.is-active {
      position: relative;
      z-index: 1;
      opacity: 1;
    }
  }
}

.splide--rtl {
  direction: rtl;
}

.splide--ttb> {
  .splide__track>.splide__list {
    display: block;
  }

  .splide__pagination {
    width: auto;
  }
}

/* Important Fix for Flickering Issue */
.is-active {
  -webkit-backface-visibility: hidden;
}

/* Slider1: Pagination */

.heroslider {
  &__caption-wrapper {
    width: 100%;
    position: absolute;
    bottom: 3rem;
    z-index: 10;
    left: 50%;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 200;
    font-size: 2.20rem;
    transform: translate(-50%);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__caption-content {
    border: 3px solid $brand-color2;
    border-radius: 0.75rem;
    padding: 1rem;
  }

  &__description {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  &__description-text {
    font-size: .9rem;
    color: #fff;
    margin-bottom: .5rem;
  }

  &__caption {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-family: 'romelio';
    color: $brand-color2;
    font-size: 1.55rem;
    margin-bottom: .5rem;
  }

  &__caption-span {
    color: $brand-color2;
  }

  &__image {
    height: 30rem;
    width: 100%;
    object-fit: cover;
  }

  .splide__pagination {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    position: absolute;
    bottom: 1rem;
    list-style: none;
    z-index: 10;
    padding: 0;
    gap: .5rem;

    >li {
      button {
        background: $brand-color1;
        border: none;
        width: .10rem;
        height: .75rem;
        cursor: pointer;
        border: none;
        border-radius: 100%;
      }
    }
  }

  .splide__pagination__page {
    &.is-active {
      border: 0;
      outline: 0;
      background: #fff;
    }

    &:focus {
      outline: 0;
    }
  }
}

@media only screen and (min-width:768px) {
  .heroslider {
    &__caption-content {
      width: 35rem;
      padding: 1.75rem;
    }

    &__caption {
      font-size: 2.5rem;
    }

    &__description {
      flex-direction: row;
      column-gap: 1rem;
    }

    &__description-text {
      text-align: left;
      margin-bottom: 0;
    }

    .heroslider__image {
      height: 39rem;
    }
  }
}

@media only screen and (min-width:1200px) {
  .heroslider__caption-wrapper {
    width: 65rem;
    padding-left: 0;
  }

  .heroslider__caption {
    margin-left: 0;
    align-items: flex-start;
    text-align: left;
    font-size: 3rem;
  }

  .heroslider .splide__pagination {
    justify-content: right;
    width: 65rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3rem;
    gap: 1rem;
  }
}


/* Arrows */

.heroslider__arrows {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 2rem;
  padding-right: 2rem;
}

.heroslider__arrow {
  width: 2rem;
  cursor: pointer;
  background: none;
  border: none;
}

/* Hero Slider: End */


.home-introduction {
  margin-top: 2rem;

  &__heading {
    text-align: center !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width:768px) {
  .home-introduction {
    margin-top: 4rem;
  }
}

@media only screen and (min-width:992px) {
  .home-introduction {
    &__description {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

// Home Profile: Start
.home-profile {
  position: relative;

  &::after {
    content: " ";
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    bottom: 0;
    opacity: .45;
  }

  &__bg-image {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__container {
    z-index: 1;
  }

  &__content {
    border: 3px solid $brand-color2;
    border-radius: 1rem;
    padding: 1.5rem;
  }

  &__heading {
    color: $brand-color2;
  }

  &__description {
    color: #dbd2c5;
  }
}

@media only screen and (min-width: 576px) {
  .home-profile {
    &__bg-image {}

    &__container {}

    &__content {
      text-align: center;
    }

    &__heading {}

    &__description {}
  }
}

@media only screen and (min-width: 768px) {
  .home-profile {
    &__bg-image {}

    &__container {}

    &__content {}

    &__heading {}

    &__description {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (min-width: 992px) {
  .home-profile {
    &__bg-image {}

    &__container {}

    &__content {
      padding: 4rem;
    }

    &__heading {}

    &__description {}
  }
}

@media only screen and (min-width: 1200px) {
  .home-profile {
    &__bg-image {}

    &__container {}

    &__content {}

    &__heading {}

    &__description {}
  }
}

// Home Profile: End


// Home Custom: Start
.home-custom {
  &__container {
    display: grid;
    grid-gap: 1rem;
  }

  &__col1 {}

  &__image {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 13rem;
  }

  &__col2 {}

  &__heading {}

  &__description {
    margin-bottom: 1rem;
  }

  &__points {
    border: 3px solid #F2E8D5;
    border-radius: 1rem;
    margin-bottom: 1rem;

    ul {
      padding-left: 1.95rem;

      li {
        color: #777;
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .home-custom {
    &__container {
      grid-template-columns: 13rem 1fr;
    }

    &__col1 {}

    &__image {
      height: 100%;
    }

    &__col2 {}

    &__heading {}

    &__description {}

    &__points {
      ul {
        li {}
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-custom {
    &__container {
      grid-template-columns: 19rem 1fr;
      grid-gap: 3rem;
    }

    &__col1 {}

    &__image {}

    &__col2 {}

    &__heading {}

    &__description {}

    &__points {
      ul {
        li {}
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .home-custom {
    &__container {
      grid-template-columns: 24rem 1fr;
    }

    &__col1 {}

    &__image {}

    &__col2 {}

    &__heading {}

    &__description {}

    &__points {
      padding: 2rem;

      ul {
        li {}
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .home-custom {
    &__container {}

    &__col1 {}

    &__image {}

    &__col2 {}

    &__heading {}

    &__description {}

    &__points {
      ul {
        li {}
      }
    }
  }
}

// Home Custom: End


// Home Clients: Start

.clients {
  background-color: #f9f6f1;

  &__container {}

  &__heading {
    text-align: center;
  }

  &__list-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }

  &__list-item {
    background: #fff;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }

  &__logo-image {
    display: inline-flex;
    height: auto;
    max-width: 6rem;
    min-height: 1.2rem;
    width: auto;
  }
}

@media only screen and (min-width: 576px) {
  .clients {
    &__container {}

    &__heading {}

    &__list-block {
      grid-template-columns: repeat(4, 1fr);
    }

    &__list-item {}

    &__logo-image {}
  }
}

@media only screen and (min-width: 768px) {
  .clients {
    &__container {}

    &__heading {
      margin-bottom: 3rem;
    }

    &__list-block {
      grid-gap: 1rem;
    }

    &__list-item {
      height: 6rem;
    }

    &__logo-image {}
  }
}

@media only screen and (min-width: 992px) {
  .clients {
    padding-top: 6rem;
    padding-bottom: 6rem;

    &__container {}

    &__heading {}

    &__list-block {}

    &__list-item {
      height: 8rem;
    }

    &__logo-image {
      max-width: 8rem;
      min-height: 1.5rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .clients {
    &__container {}

    &__heading {}

    &__list-block {}

    &__list-item {}

    &__logo-image {}
  }
}

// Home Clients: End


// Projects Photo Gallery: Start

.project-gallery {
  padding-top: 0;

  &__container {}

  &__heading {
    margin-bottom: 0.5rem;
    font-size: 1.15rem;
  }

  &__wrapper {}

  &__ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #efefef;
    border-radius: 1rem;
  }

  &__sub-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }

  &__sub-li {
    display: flex;
  }

  &__link {}

  &__image {
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 576px) {
  .project-gallery {
    &__container {}

    &__heading {}

    &__wrapper {}

    &__ul {}

    &__li {
      padding: 2rem;
    }

    &__sub-ul {
      grid-gap: 2rem;
    }

    &__sub-li {}

    &__link {}

    &__image {}
  }
}

@media only screen and (min-width: 768px) {
  .project-gallery {
    &__container {}

    &__heading {}

    &__wrapper {}

    &__ul {}

    &__li {}

    &__sub-ul {}

    &__sub-li {}

    &__link {}

    &__image {}
  }
}

@media only screen and (min-width: 992px) {
  .project-gallery {
    &__container {}

    &__heading {}

    &__wrapper {}

    &__ul {}

    &__li {}

    &__sub-ul {}

    &__sub-li {}

    &__link {}

    &__image {}
  }
}

@media only screen and (min-width: 1200px) {
  .project-gallery {
    &__container {}

    &__heading {}

    &__wrapper {}

    &__ul {}

    &__li {}

    &__sub-ul {}

    &__sub-li {}

    &__link {}

    &__image {}
  }
}



// Projects Photo Gallery: End



/* Products in Home: Start */

.products-in-home {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: .5rem;
  }

  &__heading {
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-decoration: none;
    color: #555;

    &:hover {
      .products-in-home__name-wrapper {
        background: $brand-color2;
        color: #333;
      }
    }
  }

  &__name-wrapper {
    height: 5rem;
    display: flex;
    align-items: center;
    background: #f1f1f1;
    font-family: 'romelio';
    font-size: .9rem;
    text-align: left;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    justify-content: center;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    height: 7rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &__name-text {
    text-align: center;

  }
}

.service-detail-page .contact-form {
  padding-top: 0;
}


.service-detail-page__list {
  background: #f7f7f7;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: .65rem;

  h2:not(:first-child) {
    margin-top: 2rem;
    line-height: 1.5;
  }

  ol {
    li {
      font-size: .9rem;
      margin-bottom: 0.75rem;
      line-height: 1.5;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 1.2rem;
      line-height: 1.65;
      display: flex;
      align-items: flex-start;
      font-size: .9rem;
      font-weight: 500;

      &::before {
        content: "";
        width: .55rem;
        height: .55rem;
        padding: 2px;
        background-color: transparent;
        border: solid #555;
        border-width: 0 2px 2px 0;
        display: inline-block;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-top: 0.45rem;
        margin-right: .75rem;
        bottom: 1px;
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .service-detail-page__list {
    ul {
      column-count: 2;
    }
  }
}

@media only screen and (min-width: 768px) {
  .service-detail-page__list {
    margin-top: 3rem;
    padding: 3rem;

    p {
      margin-bottom: 1rem;
    }

    ul {
      column-count: 3;
    }
  }
}




@media only screen and (min-width:576px) {
  .products-in-home {
    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
      gap: .25rem;
    }
  }

  .product-list {
    padding: 2rem;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (min-width:768px) {
  .products-in-home {
    &__container {
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    }

    &__name-wrapper {
      border-radius: 0;
    }

    &__item {
      &:first-child {
        .products-in-home__name-wrapper {
          border-top-left-radius: 1rem;
        }
      }

      &:last-child {
        .products-in-home__name-wrapper {
          border-top-right-radius: 1rem;
        }
      }
    }

    &__image {
      border-radius: 0;
    }

    &__item {
      &:first-child {
        .products-in-home__image {
          border-bottom-left-radius: 1rem;
        }
      }

      &:last-child {
        .products-in-home__image {
          border-bottom-right-radius: 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width:992px) {
  .products-in-home__image {
    height: 15rem;
  }

  .product-list {
    padding: 3rem;
    margin-top: 2rem;

    ul {
      li {
        font-size: 1.25rem;
      }
    }
  }
}

@media only screen and (min-width:1200px) {
  .products-in-home {
    &__description {
      width: 80%;
      margin: 0 auto;
    }
  }

  .product-list {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* Products in Home: End */


/* PDP: Start */

.photo-gallery-wrapper {
  padding-top: 0;
}

/* PDP: End */





/* Two Column Layout1: Start */
.section-loop {
  background-color: #f9f6f1;

  &__container {
    display: grid;
    grid-gap: 1rem;
  }

  &__image {
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.section-loop:nth-child(even) {
  background: #fff;
}

@media only screen and (min-width:576px) {
  .section-loop {
    &__container {
      grid-template-columns: 15rem 1fr;
      grid-gap: 3rem;
    }

    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__description-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__description-heading {
      text-align: left;
      margin-top: 0;
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }

  .section-loop:nth-child(even) .container {
    grid-template-columns: 1fr 15rem;
    // border:2px solid red;
  }

  .section-loop:nth-child(even) .image-block {
    grid-column-start: 2;
  }

  .section-loop:nth-child(even) .description-block {
    grid-row-start: 1;
  }

  .section-loop:nth-child(even) .section-loop__container {
    grid-template-columns: 1fr 15rem;
  }

  .section-loop:nth-child(even) .section-loop__description-block {
    grid-row-start: 1;
  }
}


@media only screen and (min-width:1200px) {
  .section-loop {
    &__container {
      grid-template-columns: 27rem 1fr;
      grid-gap: 5rem;
    }

    &__image {
      height: 19rem;
    }
  }

  .section-loop:nth-child(even) .section-loop__container {
    grid-template-columns: 1fr 27rem;
    // border: 2px solid red;
  }
}

/* Two Column Layout1: End */


.site-content {
  position: relative;
}


.subpage-banner {
  position: relative;
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;

  &__image {
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: " ";
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    bottom: 0;
    opacity: .55;
  }
}

/* About Us: Start */
.site-content__section--first {
  padding-top: 1rem;


}

.site-content__section--products {
  margin-bottom: 1rem;
  padding-top: 0;
}

@media only screen and (min-width:992px) {
  .site-content__section--first {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  .contact-us .site-content__section--first {
    padding-bottom: 1rem;
  }

  .site-content__section--products {
    margin-bottom: 2rem;
  }
}


.about-sections {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  border-radius: 1rem;

  &__image {
    border-radius: .5rem;
  }
}

@media only screen and (min-width: 576px) {
  .about-sections {}
}

@media only screen and (min-width: 768px) {
  .about-sections {}
}

@media only screen and (min-width: 992px) {
  .about-sections {}
}

@media only screen and (min-width: 1200px) {
  .about-sections {
    width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem;

    .section-loop__container {
      width: auto;
    }

    &:nth-child(even) {
      padding-left: 0;
      padding-right: 0;
    }
  }

}

/* About Us: End */


/* Services: Start */
.services-list {
  padding-top: 0;
}

.services-items {
  padding-top: 0;

  &__title {
    margin: 0;
    font-weight: 400;
    padding-bottom: 1rem;
  }

  &__item {
    background: #f1f1f1;
    margin-bottom: 1rem;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    height: 10rem;
  }

  &__col2 {
    padding: 2rem 2rem 2rem 0;
  }

  &__description {
    margin-bottom: 0;
  }
}

@media only screen and (min-width:768px) {
  .services-items {
    &__title {
      font-size: 2rem;
    }

    &__item {
      display: grid;
      grid-template-columns: 20rem 1fr;
      grid-gap: 3rem;
      margin-bottom: 2rem;
    }

    &__image {
      height: 100%;
    }
  }
}


@media only screen and (min-width:992px) {
  .services-items {
    &__col2 {
      padding: 3rem 3rem 3rem 0rem;
    }

    &__item {
      display: grid;
      grid-template-columns: 20rem 1fr;
      grid-gap: 3rem;
      margin-bottom: 2rem;
    }

    &__image {
      height: 100%;
    }
  }
}

/* Services: End */


/* Service Detail Page: Start */

.service-detail-page {
  &__container {}

  &__heading {}

  &__content {
    display: grid;
    grid-gap: 1rem;
  }

  &__col1 {}

  &__col1-img {
    border-radius: 0.75rem;
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 15rem;
  }

  &__col2 {
    border-radius: 0.5rem;

    p {
      margin-bottom: .5rem;
      line-height: 1.40;
    }
  }

  &__list {}
}

@media only screen and (min-width: 576px) {
  .service-detail-page {
    &__container {}

    &__heading {}

    &__content {
      grid-template-columns: 12rem 1fr;
    }

    &__col1 {}

    &__col1-img {}

    &__col2 {}

    &__list {}
  }
}

@media only screen and (min-width: 768px) {
  .service-detail-page {
    &__container {}

    &__heading {}

    &__content {
      grid-template-columns: 18rem 1fr;
    }

    &__col1 {}

    &__col1-img {
      height: 12rem;
    }

    &__col2 {}

    &__list {}
  }
}

@media only screen and (min-width: 992px) {
  .service-detail-page {
    &__container {}

    &__heading {}

    &__content {
      grid-gap: 3rem;
      grid-template-columns: 23rem 1fr;
    }

    &__col1 {}

    &__col1-img {
      height: 19rem;
    }

    &__col2 {}

    &__list {}
  }
}

@media only screen and (min-width: 1200px) {
  .service-detail-page {
    &__container {}

    &__heading {}

    &__content {}

    &__col1 {}

    &__col1-img {}

    &__col2 {}

    &__list {}
  }
}

.service-detail-page__faq {
  margin-top: 2rem;
  border: 1px solid #cdcdcd;
  padding: 2rem;
  border-radius: 0.75rem;

  h3 {
    font-size: 1.05rem;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
    background: #f7f7f7;
    padding: 0.75rem;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
  }
}

/* Service Detail Page: End */


/* Contact: Start */

.contact-blocks {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;

  &__col1 {
    background: #f1f1f1;
    padding: 1.5rem;

    p {
      margin: 0;

      a {
        color: #333;
      }
    }
  }

  &__col2 {
    padding: 1.5rem;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.site-content__section--contact {
  padding-top: 0;
  padding-bottom: 0;
}

.contact-blocks__numbers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-blocks__number {
  color: #333;
  text-decoration: none;
  display: flex;
  gap: .5rem;
  align-items: center;
  font-size: 1.25rem;
}

.contact-blocks__icon {
  width: 1rem;
}

.contact-blocks__icon:nth-of-type(2) {
  height: 1.25rem;
}

@media only screen and (min-width:992px) {
  .contact-blocks {
    grid-template-columns: repeat(2, 1fr);

    &__col1 {
      padding: 3rem;
    }
  }
}

.contact-map {
  width: 100%;
  margin-top: 1rem;
}






/* Contact: End */







/* 404 Page: Start */

.page-404 {
  margin-top: 10rem;
}

.page-404 .page-content {
  margin: 1rem;
}

/* 404 Page: End */















/* Lightbox: Start */

body:after {
  content: url(../images/close.svg) url(../images/loading.gif) url(../images/prev.svg) url(../images/next.svg);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border: 15px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container>.nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  margin-left: 27px;
  background: url(../images/prev.svg) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 34%;
  right: 0;
  float: right;
  margin-right: 27px;
  background: url(../images/next.svg) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 6px 0;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
  display: none;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.svg) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* additional custom styles */
.photo-gallery-wrapper .title {
  margin: 0;
  padding-bottom: 2rem;
  font-weight: 400;
}

.photo-gallery {
  width: 100%;
  background: #f1f1f1;
}

.photo-gallery ul {
  padding: 1rem;
  margin: 0;
  list-style: none;
  display: grid;
  // grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

.photo-gallery li {
  display: flex;
  height: 6rem;
  overflow-y: hidden;
}

.photo-gallery li img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width:576px) {
  .photo-gallery ul {

    // grid-template-columns: repeat(4, 1fr);
    li {
      height: 9rem;
    }
  }
}

@media only screen and (min-width:768px) {
  .photo-gallery ul {
    gap: 1.5rem;
    padding: 2rem;
  }

  .photo-gallery li {}

  .photo-gallery li img {}
}

/* Lightbox: Ends */




/* Contact Form: Start */

/* Form */

.validation {
  transition: all 0.3s linear 0s;
  position: relative;
  top: -3px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  color: #FD6F01;
  font-size: 14px;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #efefef;
  border-top: 3px solid #666;
  border-radius: 50%;
  animation: response-waiter 0.9s linear 0s infinite;
  z-index: 100;
  margin-left: 20px;
  display: none;
}

.response {
  transition: all 0.3s linear 0s;
  position: relative;
  top: -3px;
  height: auto;
  opacity: 0;
  background: #f9f8f5;
  color: #b98225;
  padding: 1.25rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: 2px solid #e9c78d;
  font-weight: 400;
  font-size: 1.10rem;
}

.show {
  height: auto;
  opacity: 1;
  top: 0;
  margin-bottom: 1rem;
}

.response.show {
  margin-bottom: 1.5rem;
}

@keyframes response-waiter {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// .contact-us .contact-form-wrapper {margin-top:2rem;}
.contact-us .contact-form-wrapper .btn-one {
  cursor: pointer;
}

.contact-us .contact-form-wrapper .btn-one:focus {
  outline: 0;
}

.contact-us .contact-form-wrapper .title {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.contact-us .map-wrapper {
  /* padding-left:0; */
  /* padding-right:0; */
}

.contact-us .map-wrapper .map {
  border: 1px solid #dcdcdc;
  display: flex;
}

.contact-form .btn-wrapper {
  display: flex;
  align-items: center;
}

.contact-form .form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.contact-form input {
  font-size: .9rem;
  height: 50px;
  line-height: 1;
  text-indent: 10px;
  margin-bottom: 1rem;
  border: 1px solid #e5d3b8;
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
}

.contact-form textarea {
  font-size: .9rem;
  margin-bottom: .5rem;
  border: 1px solid #e5d3b8;
  width: 100%;
  font-family: inherit;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  overflow: hidden;
  max-height: 6rem;
}

/* Contact Form Service section */

.contact-us .services-container {
  background: #efefef;
}

.contact-us .services-container .services-list a .title {
  color: #666;
}

.contact-us .services-container .services-list a:hover .title {
  color: #fff;
}

.form-map-container {
  background: #f0f0f0;
}

// .response-wrapper {display: none;}

@media only screen and (min-width:1200px) {
  .contact-wrapper {
    padding-top: 5rem;
  }

  .contact-us .contact-form-wrapper .contact-form {
    /* margin-left: 3rem; */
    /* margin-right: 3rem; */
  }

  .contact-form .input-group {
    display: grid;
    /* grid-template-columns:repeat(2,1fr); */
    column-gap: 1rem;
  }

  .contact-us .services-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}


.contact-us .contact-form {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.site-content__section.contact-form {
  // padding-top: 1rem;
}

.contact-form-content {
  // background: #F8F2EA;
  // padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.contact-form-content-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #b98225;
  text-align: center;
  font-family: 'romelio';
  margin-bottom: 0.5rem;
}

.contact-form-content-sub-title {
  text-align: center;
  font-weight: 600;
}

@media only screen and (min-width:992px) {
  .contact-form-content {
    // padding: 2rem;
  }
}




/* Contact Form: End */




















/* Footer: Start */

.site-footer {
  position: relative;
  padding-bottom: 3rem;

  &:after {
    content: "";
    background: #000;
    opacity: 0.70;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
  }

  &__col1 {
    padding: 2rem;
    text-align: center;
    gap: 1rem;
  }

  &__col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: $brand-color3;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 2px solid white;
    border-radius: 1rem;
  }

  &__address-email-website {
    color: #fff;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
  }

  &__email {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    column-gap: 0.5rem;
  }

  &__website {
    color: #fff;
    text-decoration: none;
  }

  &__contact-numbers {
    position: initial;
    background: transparent;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 0;

    a {
      padding-left: 1rem;
      padding-right: 1rem;
      height: 3rem;
      line-height: 2.5;
      color: #555;

      &:nth-child(1) {
        background: $brand-color2;
        border-top-left-radius: 0.65rem;
        border-top-right-radius: 0.65rem;
      }

      &:nth-child(2) {
        background: #fff;
        border-bottom-left-radius: 0.65rem;
        border-bottom-right-radius: 0.65rem;
      }
    }

  }

  &__nav {
    display: flex;
    position: relative;
    margin-bottom: 2rem;

    .main-nav__link {
      background: transparent;
      color: #fff;
      justify-content: center;
      padding: .35rem .75rem;
    }
  }

  &__contact-number-item {
    color: #fff;
  }

  &__nav-ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media only screen and (min-width:576px) {
  .site-footer {
    &__col2 {
      flex-direction: row;
      justify-content: center;
      column-gap: 2rem;
      align-items: flex-start;
    }

    .site-footer__nav ul {
      column-count: 2;
      line-height: 1.65;
    }
  }
}

@media only screen and (min-width:768px) {
  .site-footer {
    &__container {
      flex-direction: row;
      grid-template-columns: 15rem 1fr;
      display: grid;

    }

    &__col1 {
      flex-basis: 35%;
      padding: 0;
      text-align: left;
    }

    &__col2 {
      flex-grow: 1;
      justify-content: center;
      padding-bottom: 0;
    }

    &__nav-ul {
      display: flex;
    }

    &__contact-numbers {
      margin: 0;
    }
  }
}

@media only screen and (min-width:992px) {
  .site-footer__contact-numbers a {
    width: 13rem;
    line-height: 3;
  }

  .site-footer__col2 {
    padding-left: 3rem;
  }
}


@media only screen and (min-width:1200px) {
  .site-footer__col1 {
    width: auto;
  }

  .site-footer__container {
    column-gap: 3rem;
  }

  .site-footer .site-footer__nav ul {
    width: 100%;
    column-gap: 3rem;
  }

  .site-footer {
    &__container {
      width: 70rem;
      margin: 0 auto;
      padding-top: 6rem;
      padding-bottom: 0rem;
      position: relative;
    }

    &__col1 {
      justify-content: center;
      display: flex;
      flex-direction: column;
      height: 15rem;

      .header-logo {
        width: 9rem;
      }
    }

    &__col2 {
      gap: 1rem;
      padding-top: 4rem;
      padding-left: 6rem;
    }

    &__contact-numbers {
      display: flex;
      margin-top: 1rem;
    }

    &__nav {
      height: auto;
    }

    &__nav-ul {
      gap: 2rem;
    }
  }
}



.site-footer__nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.5;

    li {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .site-footer__nav {
    ul {
      li {
        a {}
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .site-footer__nav {
    ul {
      li {
        a {}
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .site-footer__nav {
    ul {
      li {
        a {}
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .site-footer__nav {
    ul {
      li {
        a {}
      }
    }
  }
}





.copyright {
  flex-basis: 100%;
  text-align: center;
  margin-top: 1rem;
  color: #fff;
  font-size: .80rem;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 1200px) {
  .copyright {
    margin-left: 18rem;
  }
}



/* Footer: End */